<?php

return array(
    'doctrine' => array(
        'connection' => array(
            // default connection name
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host' => '__HOST__',
                    'port' => '__PORT__',
                    'user' => '__USER__',
                    'password' => '__PASS__',
                    'dbname' => '__NAME__',
                ),
            ),
        ),
    ),
);

